.main {
  max-width: 192rem;
  margin: 0 24rem;
}

@media (max-width: 120rem) {
  .main {
    margin: 0 19.6rem;
  }
}

@media (max-width: 70.3rem) {
  .main {
    margin: 0 6.4rem;
  }
  /* Navbar mobile
 */
  nav {
    filter: none;
    position: relative;
  }
  .nav {
    display: none;
  }
  .navbar-mobile {
    display: block;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
    z-index: 10000;
  }
  .navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 192rem;
    margin: 0 6.4rem;
    height: 8rem;
  }
  .main-nav {
    padding-top: 9.6rem;
    display: none;
    flex-direction: column;
    height: 100vh;
    transition: all 3s;
  }
  .section-page-nav {
    margin-top: 12.8rem !important;
    margin-bottom: 6.4rem !important;
  }
  .active-mobile {
    display: flex !important;
  }
  .page-nav li .semibold18 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .container {
    margin: 12.8rem 9.6rem 0 9.6rem !important;
  }
  .medicine-links {
    display: none;
  }
}
@media (max-width: 56.5rem) {
  .pagination-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .main-block-medicine {
    column-gap: 6.4rem;
  }
  .page-nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
  }
  .view-button {
    display: block;
  }

  .view-less {
    display: flex;
    justify-items: center;
  }
  .bold36 {
    font-size: 2.8rem !important;
    line-height: 3.6rem !important;
  }
}
@media (max-width: 43.5rem) {
  .regular16 {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .section-medicine {
    margin-top: 4rem !important;
  }
  .main {
    margin: 0 4rem;
  }
  .main-block-medicine {
    grid-template-columns: 5fr 4fr;
  }
}
@media (max-width: 33.1rem) {
  #menu-button {
    height: 2.4rem;
  }
  .bold36 {
    font-size: 2.1rem !important;
    line-height: 2.8rem !important;
  }
  .bold24 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .main {
    margin: 0 2.4rem;
  }
  .main-block-medicine {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 4rem;
    margin: 0 !important;
  }
  .navbar-main {
    margin: 0 2.4rem;
  }
  .section-medicine {
    grid-template-rows: repeat(4, auto);
  }
  .description {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
  .usage {
    grid-row: 4/5;
    grid-column: 1/-1;
  }
  .medicine-image {
    justify-self: center;
  }
}
@media (max-width: 25.125rem) {
  .page-nav li .semibold18 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
