nav {
  background-color: #ffff;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
  width: 100%;
}
.nav {
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 192rem;
  margin: 0 12rem;
}
.navbar-mobile {
  display: none;
}
.logo-nav {
  height: 4rem;
}
.nav-items {
  padding: 1.6rem;
}
.main-nav {
  display: flex;
  flex-direction: row;
  gap: 6.4rem;
  align-items: center;
  justify-self: flex-end;
}
.active-mobile {
  display: flex !important;
}

/* Section Hero */
.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}
.hero-image {
  height: 100%;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;
  align-self: center;
}
.hero-title {
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-kerning: -2%;
  font-weight: 800;
}
.hero-subtitle {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: var(--dark100);
  font-weight: 400;
}
.hero-cta {
  padding: 1.6rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  border-radius: 1.6rem;
}
.cta-text {
  font-size: 2.1rem;
  line-height: 2.7rem;
  color: #ffff;
  font-kerning: -1.5%;
  font-weight: 700;
}
.cta-arrow {
  transform: rotate(90deg);
}

/* Section Mission and Vision */
.section-block {
  display: inline-block;
  margin-top: 12.8rem;
  padding: 4rem;
  background-color: var(--lightblue);
}
.block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 2.4rem;
  column-gap: 6.4rem;
  grid-template-rows: repeat(2, auto);
  margin: 0 20rem !important;
}
.block-title {
  align-self: flex-start;
  grid-column: span 2;
}
.block-content {
  grid-column: 1/2;
}
.block-image {
  grid-column: 2/-1;
  align-self: flex-start;
}
.block-image {
  border-radius: 2.4rem;
}
.rotate-class {
  transform: rotate(180deg);
}
/* Section_product ///////////////////////////////////////////////*/
.section-product {
  margin-top: 12.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
.product-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-self: center;
  align-items: center;
}
.product-header {
  color: var(--darkblack);
}
.product-subtitle {
  color: var(--dark50);
}
.product-title {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}
.product-item {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  border-radius: 4rem;
  align-self: stretch;
  justify-self: stretch;
  align-items: center;
  padding: 6.4rem 4rem;
  background-color: var(--lightblue);
}
.product-button {
  padding: 1.6rem;
  border: solid 1px var(--secondary);
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: var(--secondary);
  border-radius: 1.6rem;
}
/* Section About Us//////////// */
.reverse {
  flex-direction: row-reverse !important;
}
/* Section-Con{tact */
.section-contact {
  margin: 0 20rem;
  border-radius: 6.4rem;
  display: flex;

  justify-content: center;
}
.contact-block {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  background-size: 100%;
  position: relative;
  max-width: 108.16rem;
  border-radius: 6.4rem;
}
.contact-block::after {
  content: "";
  position: absolute;
  background-image: url("../Img/man-contact.svg");
  background-repeat: no-repeat;
  display: inline-block;
  bottom: 0;
  left: 10rem;
  width: inherit;
  height: 115%;
  z-index: 1;
  border-radius: 6.4rem;
}
.contact-block::before {
  content: "";
  position: absolute;
  background-image: url("../Img/circles-contact.svg");
  background-repeat: no-repeat;
  display: inline-block;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 339px;
  z-index: 1;
  border-radius: 6.4rem;
  overflow: hidden;
}
.contact-title {
  color: #ffff;
  z-index: 200;
}
.contact-text {
  color: var(--lightblue);
}
.contact-link {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  align-items: center;
}
.body-text {
  display: grid;
  max-height: min-content;
  row-gap: 4rem;
  z-index: 200;
}
.contact-text-flex {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.contact-cta {
  padding: 0.8rem 1.6rem;
  background-color: #ffff;
  color: var(--secondary);
  border-radius: 1.6rem;
}
/* Footer section */
footer {
  background-color: var(--tertiary);
  color: #ffff;
  padding: 6.4rem 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr max-content;
  column-gap: 18.8rem;
  row-gap: 6.4rem;
}
.footer-block {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--lightblue);
}
.footer-content li a {
  color: var(--lightblue);
}
.footer-body-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.copyright-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  align-items: center;
}
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* Product Page */
.section-page-nav {
  margin-top: 4rem !important;
}
.page-nav {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.current {
  color: var(--dark50) !important;
}
.page-name {
  color: var(--tertiary);
}
.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*//////////////////////////////////Section Medicine */

.section-medicine {
  display: grid;
grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3, min-content);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  margin-top: 6.4rem!important;
  position: relative;
}
.medicine-title {
  grid-column: 1/3;
}
.medicine-image {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: flex-end;
}
.description {
  grid-column: 1/2;
  grid-row: 2/3;
}
.description-content{
  list-style-type: disc;
}
.usage {
  grid-column: 2/3;
  grid-row: 3/4;

}
.medicine-links {
  grid-row: 1/-1;
  grid-column: 3/4;
  display:flex;
  flex-direction: column;
  gap:.8rem
  
  
}
.margin-left{
  margin-right: 34rem;
  
}
ol li a {
  color: var(--accentblue);
}
.view-button{
  display: flex;
  padding: 1.6rem;
  color:var(--accentblue);
  background-color: var(--lightblue);
  border-radius: .8rem;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 1.6rem auto;
}
.hide {
  display: none!important;
}
.active{
  display: block!important;
}

/* Section medical details - Contraindications and Side effects */
.section-medicine-details {
  padding: 4rem;
  background: #fff1db;
  width: 100% !important;
  margin-top: 6.4rem;
}
.main-block-medicine {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 12.8rem;
}
.block-medicine {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
}
.block-points {
  list-style: disc;
}
.footer-credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-top: 2.4rem;
}
.toggle-text {
  display: none;
}
